<%= form_for([@issue, @issue.comments.build]) do |f| %>


       <h4>Author :</h4> 
       <p>   
            <%= current_user.name %>
            <%= f.hidden_field :user_id, :value=>session[:user_id] %>
          </p>

           <h4>Comment :</h4>
            <p>
                <%= f.text_area :body %>
            </p>
    <br>
        <p>
            <%= f.submit %>
        </p>
<% end %>