<!-- <head>
<style>
div.field {
    padding-left: 25%;
}
</style>
</head> -->

<%= form_for(@issue) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  
  <div class="row field" style="te">
    
    <div class="col-sm-4" style="text-align:right;">
      <%= form.label :Title %>
    </div>
    
    <div class="col-sm-8">
      <%= form.text_field :issue, id: :issue_issue,:required => true %>
    </div>
    
  </div>
  

  <div class="row field">
    
    <div class="col-sm-4" style="text-align:right;">
      <%= form.label :Description %>
    </div>
    
    <div class="col-sm-8">  
      <%= form.text_area :description, id: :issue_description,:required => true %>
    </div>
    
  </div> 
  
  
  <div class="row field">
    
    <div class="col-sm-4" style="text-align:right;">
      <%= form.label :Category %>
    </div>
    
    <div class="col-sm-8">  
      <%= form.select :category, ['Task', 'Bug','Enhancement','Proposal'], id: :issue_category %>
    </div>
    
  </div>
  
  
  <div class="row field">
    
    <div class="col-sm-4" style="text-align:right;">
      <%= form.label :Assignee %>
    </div>
    
    <div class="col-sm-8"> 
      <%= form.collection_select :assignee , User.all, :name, :name, include_blank: false %>
    </div>
    
  </div> 
  
  
   <div class="row field">
     
    <div class="col-sm-4" style="text-align:right;">
      <%= form.label :Priority %>
    </div>
    
    <div class="col-sm-8"> 
      <%= form.select :priority, ['Trivial', 'Minor','Major','Critical','Blocker'], id: :issue_priority  %>
    </div>
    
  </div> 
  
  
  <div class="row field">
    
    <div class="col-sm-push-4 col-sm-8" >
      <%= form.file_field :attachment, multiple: false %>
    </div>
    
    <!--%= form.text_area :attachment, id: :issue_attachment,:required => false %-->
    
  </div> 

<!--
  <div > 
    <select name="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="fiat">Fiat</option>
      <option value="audi">Audi</option>
    </select>
  </div>-->
  
  
  
  <!--<div class="field"> 
    %= form.label :user % 
    %= form.text_field :user, id: :issue_user %
  </div> -->
  <div class="row field"> </div>

  <div class="actions row">

    <div class="col-sm-push-4 col-sm-8" >
      <%= form.submit 'Save Issue', :class=> 'btn btn-primary' %>
      
      <%= link_to 'Back', issues_path %>
      </div>
  </div>

  
<% end %>
