<%= form_for(@issue) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <br>
    <%= form.text_field :issue, id: :issue_issue,:required => true %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <br>
    <%= form.text_area :description, id: :issue_description,:required => true %>
  </div> 
  
  <div class="field">
    <%= form.label :Category %>
    <%= form.select :category, ['Task', 'Bug','Enhancement','Proposal'], id: :issue_category %>
  </div> 

<!--
  <div > 
    <select name="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="fiat">Fiat</option>
      <option value="audi">Audi</option>
    </select>
  </div>-->
  
  
  
  <!--<div class="field"> 
    %= form.label :user % 
    %= form.text_field :user, id: :issue_user %
  </div> -->
  
  <div class="actions">
    
 
  
    <%= form.submit %>
  </div>
<% end %>
