<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :issue %>
    <%= form.text_field :issue, id: :issue_issue %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :issue_description %>
  </div> 
  
  <!-- <div class="field"> 
    %= form.label :user % 
    %= form.text_field :user, id: :issue_user %
  </div> -->



  <div class="actions">
    
 
  
    <%= form.submit %>
  </div>
<% end %>
