<p id="notice"><%= notice %></p>


<div=class nav-header>
  <h1>Bug Issues</h1> 
  <div class ="collapse navbar-collapse"> 
  <p class="navbar-text navbar-right"><%= link_to 'New Issue', new_issue_path, class:"btn btn-primary"%>
  </p>
  </div>
</div>

    <div>Filter by : 
    <%= link_to 'All', 'issues', class:"btn btn-primary"   %>
    <%= link_to ' Open', 'Opened', class:"btn btn-success" %>
    <%= link_to ' Closed', 'Closed', class:"btn btn-danger"  %>
    <%= link_to ' My Issues', 'mine', class:"btn btn-info" %>
    <%= link_to ' Watching', 'watching', class:"btn btn-warning"  %>
  </div>
<br>
<div> 
  <center> 
    <table class="table table-hover">
        <tr>
          <th><%= sortable "issue", "Title" %></th>
          <th><%= sortable "user", "Created By" %></th>
          <th><%= sortable "Category" %></th>
          <th><%= sortable "Priority" %></th>
          <th><%= sortable "open", "Status" %></th>
          <th style="color: #0066ff;">Votes</th>
          <th><%= sortable "Assignee", "Assigned To" %></th>
          <th><%= sortable "created_at", "Created" %></th>
          <th><%= sortable "updated_at", "Last Update" %></th>
          <th colspan="5"></th>
        </tr>
    
        <% @issues.each do |issue| %>
            <tr>
              <td><%=link_to issue.issue, issue %></td>
              <td><%= issue.user %></td>
              <td><%= link_to issue.category, issue.category %></td>
              <td><%= link_to issue.priority, issue.priority %></td>
              <td><%= link_to issue.getStatus, issue.getStatus %></td>
              <td><%= issue.get_upvotes.size-issue.get_downvotes.size %></td>
              <td><%= issue.assignee %></td>
              <td><%= time_ago_in_words(issue.created_at) %></td>
              <td><%= time_ago_in_words(issue.updated_at) %></td>
            <!--td><center><!--%= link_to 'Show', issue, class:"btn btn-primary" %--><!--/td-->
            <!--% if (issue.user == session[:user_id]) %-->
            <!--td><!--%= link_to 'Edit', edit_issue_path(issue), class:"btn btn-primary" %></td>
            <!--td><!--%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %></td>
            <!--%end%-->
            </tr>
        <% end %>
    </table>
    </center> 
</div>    
<br>

<!--%= link_to 'New Issue', new_issue_path, class:"btn btn-primary" >