<p id="notice"><%= notice %></p>

<h1>Issues</h1>

<table>
  <tbody>
    <td><%= link_to 'All', 'issues'  %></td>
    <td><%= link_to 'Open', 'opened' %></td>
    <td><%= link_to 'Closed', 'closed' %></td>
    <td><%= link_to 'My Issues', 'mine' %></td>
    
  </tbody>
</table>

<table class="pretty">
    <tr>
      
      <th><%= sortable "issue", "Title" %></th>
      <th><%= sortable "description", "Description" %></th>
      <th><%= sortable "user", "User" %></th>
      <th><%= sortable "Category" %></th>
      <th><%= sortable "open", "Status" %></th>
      <th><%= sortable "created_at", "Created" %></th>
      <th><%= sortable "updated_at", "Last Update" %></th>
      <th colspan="5"></th>
    </tr>

    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.issue %></td>
        <td><%= issue.description %></td>
        <td><%= issue.user %></td>
        <td><%= issue.category %></td>
        <td><%= issue.getStatus %></td>
        <td><%= issue.created_at %></td>
        <td><%= issue.updated_at %></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>

