<p id="notice"><%= notice %></p>

<h1>My issues</h1>

<table>
  <tbody>
    <td><%= link_to 'All', 'issues'  %></td>
    <td><%= link_to 'Open', 'opened' %></td>
    <td><%= link_to 'Closed', 'closed' %></td>
    <td><%= link_to 'My Issues', 'mine' %></td>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Description</th>
      <th>User</th>
      <th>Created</th>
      <th>Last Update</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @issues = Issue.where(user: current_user.name) %>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.issue %></td>
        <td><%= issue.description %></td>
        <td><%= issue.user %></td>
        <td><%= issue.created_at %></td>
        <td><%= issue.updated_at %></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
