<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-8" >
    <p >
      <strong>Issue: </strong>
      <%= @issue.issue %>
    </p>
    
    <p>
      <strong>Created:</strong>
      <%= @issue.created_at %>
    </p>

    <p>
      <strong>Last Update:</strong>
      <%= @issue.updated_at %>
    </p>
    
    
    <p>
      <strong>Description:</strong>
      <%= @issue.description %>
    </p>
    <br>
    <p>
      <strong>Attachment:</strong>
        <% if @issue.attachment? %>
          <a target="_blank" href="<%= @issue.attachment %>"> Ver archivo </a>
        <% else %>
          This Issue doesn't have an attachment
        <% end %>
    </p>
    
  </div>


  <div class="col-sm-4" >
    
    
    <div><%= link_to 'Edit', edit_issue_path(@issue), class:"btn btn-primary" %>
    <%= link_to 'Back', issues_path, class:"btn btn-primary" %>
    </div>
    <br>
    
    <div class="well"> 
    
    <p>
    <strong>Created by : </strong>
      <%= @issue.user %>
    </p>

    <p>
    <strong>Assigned to : </strong>
      <%= @issue.assignee %>
    </p>
    
    <p>
    <strong>Category:</strong>
      <%= @issue.category %>
    </p>

    <p>
    <strong>Priority: </strong>
      <%= @issue.priority %>
    </p>
    
    <p>
    <strong>Status: </strong>
       <%= @issue.getStatus() %>

    </p>
    

    
    
    <p>
      <strong>Votes:</strong>
        <%= (@issue.get_upvotes.size-@issue.get_downvotes.size) %>
  
      <div class="vote circle" style="text-align:Left;">
        <%= link_to like_issue_path(@issue), class: "like", method: :put do%>
      <button type="button" class="btn btn-success" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <span class="badge"><%=@issue.get_upvotes.size %></span>
      </button>
      <% end %>
    
      <%= link_to unlike_issue_path(@issue), class: "like", method: :put do%>
      <button type="button" class="btn btn-danger" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span class="badge"><%=@issue.get_downvotes.size %></span>
      </button>
      <% end %>
      </div>
    </p>
    </div>
  </div>


</div>
<hr class="divider">

<div class="row">
  
</div>











  
<br>
<h2> <%= @issue.comments.count %> Comments</h2>
<ol class="pageCommentBody">
  <% @issue.comments.each do |comment| %>
  <div class="well well-lg .well"> 
    <li class="list">
      <div class="subtitle">
        <p>
        <td><%= 'Comment by: ' %> <strong><%= comment.userName  %></strong> </td> 
        <td> | <%= distance_of_time_in_words_to_now(comment.created_at) %></td>
        <td><%= ' ago ' %></td>
          <% if(comment.getUserId == session[:user_id]) %>
            <td>| <b><%= link_to 'Destroy' , destroycomment_path(:id=>@issue.id, :comment=>comment),data: { confirm: 'Are you sure?' } , class:"btn-xs btn-danger"%></b></td>

          <% end %>
          </p>
      </div>
      <div class="com">
        <td><%= comment.body %></td>
      </div>
    </li>
    </div>
    <br>
  <% end %>
</ol> 
<br>
  <!--%= render @issue.comments %-->
  <h3> Add a Comment: </h3>
  <%= render 'comments/form' %>

