<p id="notice"><%= notice %></p>
<br>

<div class="row">
  <div class="col-sm-8 well">
    <p >
      <strong>Issue: </strong>
      <%= @issue.issue %>
    </p>
    
    <p>
      <strong>Created:</strong>
      <%= @issue.created_at %>
    </p>

    <p>
      <strong>Last Update:</strong>
      <%= @issue.updated_at %>
    </p>
    
    
    <p>
      <strong>Description:</strong>
      <%= @issue.description %>
    </p>
    <br>
    <p>
      <strong>Attachment:</strong>
        <% if @issue.attachment? %>
          <a target="_blank" href="<%= @issue.attachment %>"> Ver archivo </a>
        <% else %>
          This Issue doesn't have an attachment
        <% end %>
    </p>
    
  </div>


  <div class="col-sm-4" >
    
    
    <div><%= link_to edit_issue_path(@issue), class: "edit", method: :put do%> <!-- Canviar el path -->
          <button type="button" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <% end %>
    <%= link_to 'Delete', @issue, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
    <%= link_to 'Back', issues_path, class:"btn btn-primary" %>

    <%= link_to 'Open Issue',  openIssue_path(:id=>@issue.id), class:"btn-sm btn-success" %>
    <%= link_to 'On hold Issue',  onHoldIssue_path(:id=>@issue.id), class:"btn-sm btn-primary" %>
    <%= link_to 'Resolve Issue',  resolveIssue_path(:id=>@issue.id), class:"btn-sm btn-primary" %>
    <%= link_to 'Duplicate Issue',  duplicateIssue_path(:id=>@issue.id), class:"btn-sm btn-primary" %>
    <%= link_to 'Invalidate Issue',  invalidateIssue_path(:id=>@issue.id), class:"btn-sm btn-primary" %>
    <%= link_to 'Wontfix Issue', wontfixIssue_path(:id=>@issue.id), class:"btn-sm btn-primary" %>
    <%= link_to 'Close Issue',  closeIssue_path(:id=>@issue.id), class:"btn-sm btn-warning" %>
    
    <!--% if @issue.isOpened()   %-->
      <!--%= link_to 'Close Issue',  closeIssue_path(:id=>@issue.id), class:"btn-sm btn-warning" %-->
    <!--% end  %-->

    <!--% if !@issue.isOpened()  %-->
      <!--%= link_to 'Open Issue',  openIssue_path(:id=>@issue.id), class:"btn-sm btn-success" %-->
    <!--% end  %-->
    </div>
    <br>
    
    <div class="well"> 
    
    <p>
    <strong>Created by : </strong>
      <%= @issue.user %>
    </p>

    <p>
    <strong>Assigned to : </strong>
      <%= @issue.assignee %>
    </p>
    
    <p>
    <strong>Category:</strong>
      <%= @issue.category %>
    </p>

    <p>
    <strong>Priority: </strong>
      <%= @issue.priority %>
    </p>
    
    <p>
    <strong>Status: </strong>
       <%= @issue.getStatus() %>

    </p>
    

    
    
    <p>
      <strong>Votes:</strong>
        <%= (@issue.get_upvotes.size-@issue.get_downvotes.size) %>
  
      <div class="vote circle" style="text-align:Left;">
        <%= link_to like_issue_path(@issue), class: "like", method: :put do%>
      <button type="button" class="btn btn-success" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <span class="badge"><%=@issue.get_upvotes.size %></span>
      </button>
      <% end %>
    
      <%= link_to unlike_issue_path(@issue), class: "like", method: :put do%>
      <button type="button" class="btn btn-danger" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span class="badge"><%=@issue.get_downvotes.size %></span>
      </button>
      <% end %>
      </div>
    </p>
    
    <p>
        <% if current_user.watching?(@issue) %>
          <%= link_to unwatch_issue_path(@issue), class: "watch", method: :put do%> <!-- Canviar el path -->
          <button type="button" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
          <% end %>
          <strong>Watching</strong>
        <% else %>
          
          <%= link_to watch_issue_path(@issue), class: "watch", method: :put do%> <!-- Canviar el path -->
          <button type="button" class="btn btn-warning" aria-label="Left Align">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </button>
          <% end %>
          <strong>Not watching</strong>
        <% end %>
      </div>
      </div>
    </p>
    
    </div>
  </div>


</div>
<hr class="divider">

<div class="row">
  
</div>











  
<br>
<!--<  @editingComment = -1 %>
NumEditing:
  <= @editingComment %>-->
<h2> <%= @issue.comments.count %> Comments</h2>
<ol class="pageCommentBody">
  
  
  <% @issue.comments.each do |comment| %>
  <div class="well well-lg .well"> 
    <li class="list">
      <div class="subtitle">
        <p>
        <td><%= 'Comment by: ' %> <strong><%= comment.userName  %></strong> </td> 
        <td> | <%= distance_of_time_in_words_to_now(comment.created_at) %></td>
        <td><%= ' ago ' %></td>
          <% if(comment.getUserId == session[:user_id]) %>
            <td>| <b><%= link_to 'Destroy' , destroycomment_path(:id=>@issue.id, :comment=>comment),data: { confirm: 'Are you sure?' } , class:"btn-xs btn-danger"%></b></td>
            <!--<td>| <b><= link_to 'Edit' , editcomment_path(:id=>@issue.id, :comment=>comment), class:"btn-xs btn-warning" %></b></td> -->
            <td>| <b><%= link_to 'Edit' , class:"btn-xs btn-warning", :editingComment=> comment.id %></b></td>
          <% end %>
          </p>
      </div>

      <div >
        <td><%= comment.body %></td>
        <% if(comment.getUserId == session[:user_id])  %>
        <td> <%=  render  :partial => "comments/formEditComment", :locals => { :mcomment=> comment } %></td>
        <% end %>
      </div>
    </li>
    </div>
    <br>
  <% end %>
</ol> 
<br>
  <!--%= render @issue.comments %-->
  
  
  <h2> Add a Comment: </h2>
  <%= render 'comments/form' %>

