<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @issue.issue %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @issue.user %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
